@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Undergraduate Majors and Concentrations</h1>

    <h2>2024-2025</h2>
    <ul>
        @foreach (var degreeEntry in DegreePrograms.AllDepartments.SelectMany(x => x.DegreeEntries).OrderBy(x => x.Name))
        {
            var url = $"/degrees/undergraduate/{degreeEntry.CatalogYear}/{degreeEntry.CatalogUrl}";
            <li><a href="@Html.Raw(url)">@degreeEntry.Name</a></li>
        }
    </ul>
</div>
