html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

tr[data-list-course-level="1"] > td:first-child {
    padding-left: 20px !important;
}

tr[data-level="2"] > td:first-child {
    padding-left: 20px !important;
}

tr[data-list-course-level="2"] > td:first-child {
    padding-left: 40px !important;
}

tr[data-level="3"] > td:first-child {
    padding-left: 40px !important;
}

tr[data-list-course-level="3"] > td:first-child {
    padding-left: 60px !important;
}

tr[data-level="4"] > td:first-child {
    padding-left: 60px !important;
}

tr[data-list-course-level="4"] > td:first-child {
    padding-left: 80px !important;
}

tr[data-level="5"] > td:first-child {
    padding-left: 80px !important;
}

tr[data-list-course-level="5"] > td:first-child {
    padding-left: 100px !important;
}

